@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.logo {
  font-family: "Shrikhand", cursive;
}

.button {
  height: 50px;
  background-image: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  border-radius: 25px;
  border: 0;
  color: white;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 3rem;
}

/*header*/
header {
  box-shadow: 0px 0px 15px gray;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  margin: 0;
}
header a {
  position: absolute;
  left: 10px;
}
header i {
  font-size: 25px;
  color: black;
}
header .url {
  display: none;
}

/*footer*/
footer {
  background-color: #383737;
  height: 240px;
}
footer h1 {
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
}

.foot {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}
.foot a {
  color: white;
  margin: 0;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

/*main contact*/
#contact h2 {
  margin-top: 0;
}
#contact .form {
  padding-top: 1rem;
  background-color: #f3f0f0;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#contact .form .text {
  width: 40%;
  height: 20px;
}
#contact .form .textarea {
  width: 90%;
  height: 80px;
  resize: none;
}

/*main accueil*/
#resto, #desc, #list li {
  background-color: #f3f0f0;
}

#fonction, .a_text, #resto h2 {
  margin-left: 1rem;
}

#resto h2 {
  padding-top: 1rem;
}

#des {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#des h2, #des p {
  width: 74%;
  text-align: center;
}

.l_style {
  list-style: none;
}

#list {
  counter-reset: counter;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}
#list li {
  counter-increment: counter;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 250px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#list li .a_text {
  width: 180px;
  font-weight: bold;
}
#list li .mod {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
}
#list li::before {
  content: counter(counter);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -18px;
  width: 25px;
  height: 25px;
  color: white;
  font-weight: bold;
  background: #9356DC;
  border-radius: 50%;
  box-shadow: 1px 1px 0 #999;
}

#local {
  display: flex;
  margin-top: 5px;
  background-color: #cfcfcf5e;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}
#local p {
  margin: 0px;
  height: 1rem;
}

.img {
  width: 100%;
  height: 150px;
}

.a_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.a_fig {
  border-radius: 15px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 95%;
}

.link {
  position: absolute;
  width: 92%;
  height: 255px;
}

.a_caption {
  margin-left: 1rem;
  padding-top: 10px;
  padding-bottom: 5px;
}
.a_caption h3, .a_caption p {
  margin: 0;
  margin-bottom: 10px;
}

#a_list {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.restos {
  width: 100%;
}

.sp_home span {
  top: 180px;
}

.sp_other span {
  top: 25px;
}

.spoiler i {
  font-size: 25px;
}
.spoiler span {
  position: absolute;
  right: 25px;
}
.spoiler .hide {
  visibility: hidden;
}
.spoiler .hide i {
  background: linear-gradient(to right bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 1s ease-in-out;
}
.spoiler:hover .hide, .spoiler:target .hide {
  visibility: visible;
}
.spoiler:hover .visible, .spoiler:target .visible {
  visibility: hidden;
}

/*main menu*/
#hf_font {
  background-image: url("img/Rouge.jpg");
}

#he_font {
  background-image: url("img/Charonne.jpg");
}

#hp_font {
  background-image: url("img/Folie.jpg");
}

#ht_font {
  background-image: url("img/Menilmontant.jpg");
}

.h_font {
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
}

.h_color {
  background-color: #f3f0f0;
  border-radius: 25px 25px 0 0;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 278px;
}

#title {
  margin: 0;
  margin-left: -1rem;
  margin-top: -1rem;
  background-color: #f3f0f0;
}
#title h2 {
  margin-left: 1rem;
}

h2 {
  font-family: "Shrikhand", cursive;
  margin-top: 1rem;
  background-color: #f3f0f0;
  margin-bottom: 0;
}

.menu {
  background-color: #f3f0f0;
  display: flex;
  flex-direction: column;
}
.menu h3 {
  width: 10%;
  font-weight: normal;
  box-shadow: 0 3px #99e2d0;
}

.m_div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.m_div .text:nth-child(1) {
  -webkit-animation: 2s text-focus-in 1s;
  animation: 2s text-focus-in 1s;
}
.m_div .text:nth-child(2) {
  -webkit-animation: 2.25s text-focus-in 1s;
  animation: 2.25s text-focus-in 1s;
}
.m_div .text:nth-child(3) {
  -webkit-animation: 2.5s text-focus-in 1s;
  animation: 2.5s text-focus-in 1s;
}
.m_div .text:nth-child(4) {
  -webkit-animation: 2.75s text-focus-in 1s;
  animation: 2.75s text-focus-in 1s;
}
.m_div .text:nth-child(5) {
  -webkit-animation: 3s text-focus-in 1s;
  animation: 3s text-focus-in 1s;
}
.m_div .text:nth-child(6) {
  -webkit-animation: 3.25s text-focus-in 1s;
  animation: 3.25s text-focus-in 1s;
}
.m_div .text:nth-child(7) {
  -webkit-animation: 3.5s text-focus-in 1s;
  animation: 3.5s text-focus-in 1s;
}
.m_div .text:nth-child(8) {
  -webkit-animation: 3.75s text-focus-in 1s;
  animation: 3.75s text-focus-in 1s;
}
.m_div .text:nth-child(9) {
  -webkit-animation: 4s text-focus-in 1s;
  animation: 4s text-focus-in 1s;
}
.m_div .text:nth-child(10) {
  -webkit-animation: 4.25s text-focus-in 1s;
  animation: 4.25s text-focus-in 1s;
}
.m_div .text {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #c5c4c4;
  margin-bottom: 1rem;
  position: relative;
}
.m_div .text .deep, .m_div .text .sold {
  font-weight: bold;
  font-size: 1rem;
}
.m_div .text .light {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 13px;
}
.m_div .text .left_button {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  border: 0;
}
.m_div .text:hover .left_button {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.m_div .text:hover .left_button .valid {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
  width: 25px;
  color: white;
}
.m_div .text:hover .sold {
  position: absolute;
  right: 40px;
  bottom: 0px;
  transition: right 1s;
  width: 25px;
  background-color: white;
}
.m_div span {
  margin-left: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  height: 8rem;
  align-items: center;
  background-color: #f3f0f0;
  margin: 0;
}

.main {
  animation: unload 8s;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: unloadtow 8s;
}
.wrapper .logo {
  position: absolute;
  top: 30px;
  right: 30px;
  rotate: 40deg;
}
.wrapper .circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fcdc29;
  border-radius: 50%;
  animation: loading 1.5s;
}
.wrapper .donut {
  animation: load 3.5s;
}
.wrapper .donut, .wrapper .cer {
  align-items: center;
  width: 80%;
}
.wrapper .circle-1 {
  animation-delay: 0.1s;
}
.wrapper .circle-2 {
  animation-delay: 0.2s;
}
.wrapper .circle-3 {
  animation-delay: 0.3s;
}
.wrapper .circle-4 {
  animation-delay: 0.4s;
}
.wrapper .circle-5 {
  animation-delay: 0.5s;
}
.wrapper .circle-6 {
  animation-delay: 0.6s;
}
.wrapper .circle-7 {
  animation-delay: 0.7s;
}
.wrapper .circle-8 {
  animation-delay: 0.8s;
}

@keyframes unloadtow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes unload {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes load {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: translateY(-10px);
    background-color: #fcdc29;
  }
  25% {
    transform: translateY(-5px);
    background-color: #fcdc29;
  }
  50% {
    transform: translateY(10px);
    background-color: #ef584a;
  }
  75% {
    transform: translateY(5px);
    background-color: #ef584a;
  }
  100% {
    transform: translateY(-10px);
    background-color: #fcdc29;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
/*tablette*/
@media (min-width: 760px) and (max-width: 1024px) {
  #list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #list li {
    width: 380px;
  }

  #a_list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #a_list .restos {
    width: 50%;
  }

  footer {
    height: 150px;
  }
  footer h1 {
    text-align: center;
  }

  .foot {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .foot a {
    margin-right: 2rem;
  }

  .menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu .m_div {
    width: 45%;
  }

  header .url {
    display: inline-block;
    font-family: "Shrikhand", cursive;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
  }
  header .fa-arrow-left {
    display: none;
  }
}
/*desktop*/
@media (min-width: 1024px) {
  header .url {
    display: inline-block;
    font-family: "Shrikhand", cursive;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
  }
  header .fa-arrow-left {
    display: none;
  }

  #list {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #a_list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #a_list .restos {
    width: 30%;
  }

  footer {
    height: 150px;
  }
  footer h1 {
    text-align: center;
  }

  .foot {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .foot a {
    margin-right: 2rem;
  }

  .menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu .m_div {
    width: 32%;
  }
}

/*# sourceMappingURL=main.css.map */
